#outer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

main {
  display: grid;
  grid-template-columns: minmax(5px, 1fr) minmax(300px, 800px) minmax(5px, 1fr);

  > * {
    grid-column-start: 2;
  }

  > .fullbleed {
    grid-column: 1/-1;
  }
}

footer {
  padding: var(--box-pad-all);
  text-align: center;
  background-color: var(--col-tint);
}
