html {
  --col-bg-light: #fff;
  --col-bg-dark: #333;
  --col-bodytext: rgba(60, 60, 60, 0.8);
  --col-bodytext-invert: rgba(255, 255, 255, 0.8);
  --col-heading: #333344;
  --col-subheading: #333344;
}
